@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-ibm: "IBM Plex Mono", monospace;

  --color-baby-pink: #BB9798;
  --color-bordo: #613437;
  --color-light-gray: #343434;
  --color-dark-gray: #1C1B1B;
}

:root {
  background-color: var(--color-light-gray);
  color: white;
  font-family: var(--font-ibm);
}

html {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
  cursor: pointer;
}